<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="frontend-header :: head"></th:block>
<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <div th:replace="frontend-topbar"></div>
        <header th:replace="frontend-header :: main-header"></header>
       
		
		
		<section class="about-one about-one--home section-space">
            <div class="about-one__bg">
                <div class="about-one__bg__border"></div><!-- /.about-one__bg__border -->
                <div class="about-one__bg__inner" style="background-image: url('assets/images/shapes/about-shape-1-1.png');"></div><!-- /.about-one__left__bg__inner -->
            </div><!-- /.about-one__left__bg -->
            <div class="container">
                <div class="row gutter-y-50">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="about-one__left">
                            <div class="about-one__image">
                                <img src="assets/images/about/tot.jpg" alt="about" class="about-one__image__one">
                                <div class="about-one__video" style="background-image: url('assets/images/about/ET-corona_1.jpg');">
                                    <a href="https://www.youtube.com/watch?v=RnPBjvT7Goo" class="about-one__video__btn video-button video-popup">
                                        <span class="icon-play"></span>
                                        <i class="video-button__ripple"></i>
                                    </a><!-- /.about-one__video__btn -->
                                </div><!-- /.about-one__video -->
                                
                            </div><!-- /.about-one__image -->
                        </div><!-- /.about-one__left -->
                    </div>
                    <div class="col-xl-6">
                        <div class="about-one__content">
                            <div class="sec-title">

                                <h6 class="sec-title__tagline @@extraClassName">ABOUT Africa PHEOC-NET</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">PHEOCs save <span class="sec-title__title__inner">lives</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <div class="about-one__text-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="about-one__text-box__image">
                                    <img src="assets/images/about/WHO_054996.jpg" alt="about">
                                </div><!-- /.about-one__text-box__image -->
                                <p class="about-one__text">The Africa PHEOC Network was established in November 2015 by the WHO Regional Office for Africa in coordination with the WHO Health Emergencies Programme. The Network is a key regional platform for collaboration, communication, and the exchange of information for ultimately improving the quality and efficiency of public health emergency management.</p>
                            </div><!-- /.about-one__text-box -->
                            <div class="about-one__wrapper">
                                <div class="row gutter-y-40">
                                    <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="about-one__donate about-one__donate--one">
                                            <div class="about-one__donate__icon">
                                                <span class="icon-team"></span>
                                            </div><!-- /.about-one__donate__icon -->
                                            <h4 class="about-one__donate__title">Learning & mutual support</h4><!-- /.about-one__donate__title -->
                                            
                                        </div><!-- /.about-one__donate -->
                                    </div><!-- /.col-lg-4 col-sm-4 -->
                                    <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                        <div class="about-one__donate about-one__donate--two">
                                            <div class="about-one__donate__icon">
                                                <span class="icon-donation"></span>
                                            </div><!-- /.about-one__donate__icon -->
                                            <h4 class="about-one__donate__title">Network resources & news</h4><!-- /.about-one__donate__title -->
                                           
                                        </div><!-- /.about-one__donate -->
                                    </div><!-- /.col-lg-4 col-sm-4 -->
                                    <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <div class="about-one__donate about-one__donate--three">
                                            <div class="about-one__donate__icon">
                                                <span class="icon-money"></span>
                                            </div><!-- /.about-one__donate__icon -->
                                            <h4 class="about-one__donate__title">Networking & collaboration</h4><!-- /.about-one__donate__title -->
                                           
                                        </div><!-- /.about-one__donate -->
                                    </div><!-- /.col-lg-4 col-sm-4 -->
                                </div><!-- /.row -->
                            </div><!-- /.about-one__wrapper -->
                           
                        </div><!-- /.about-one__content -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
            <img src="assets/images/shapes/about-shape-1-2.png" alt="cleenhearts" class="about-one__hand">
        </section><!-- /.about-one section-space -->
        
         <section class="story-one section-space-top cleenhearts-jarallax" data-jarallax data-speed="0.3" style="background-image: url('assets/images/backgrounds/ET-corona_1.jpg');">
            <div class="container">
                <div class="sec-title">

                    <h6 class="sec-title__tagline @@extraClassName">Africa PHEOC-NET</h6><!-- /.sec-title__tagline -->

                    <h3 class="sec-title__title">A Journey Through Africa PHEOC-NET <span class="sec-title__title__inner">Story</span></h3><!-- /.sec-title__title -->
                </div><!-- /.sec-title -->

                <div class="story-one__tabs-box tabs-box">
                    <div class="tabs-content">
                        <div class="tab active-tab" id="year1992" style="display: block;">
                            <div class="row gutter-y-40">
                                <div class="col-xl-6 animated fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__image">
                                        <img src="assets/images/story/eoc-net.jpg" alt="story">
                                    </div><!-- /.story-one__image -->
                                </div><!-- /.col-xl-6 -->
                                <div class="col-xl-6 animated fadeInRight" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__content">
                                        <h3 class="story-one__title">our mission</h3><!-- /.story-one__title -->
                                        <p class="story-one__text story-one__text--one">The Network seeks to build and sustain national capacity to manage public health emergencies at all levels of the health system. The Network will act as a platform for enhancing partnerships and the synergy of national, regional and global efforts to support countries in the WHO African Region.</p><!-- /.story-one__text story-one__text--one -->
                                       
                                    </div><!-- /.story-one__content -->
                                </div><!-- /.col-xl-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab -->
                        
                        <div class="tab" id="year2010" style="display: none;">
                            <div class="row gutter-y-40">
                                <div class="col-xl-6 animated fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__image">
                                        <img src="assets/images/story/brazzaville.PNG" alt="story">
                                    </div><!-- /.story-one__image -->
                                </div><!-- /.col-xl-6 -->
                                <div class="col-xl-6 animated fadeInRight" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__content">
                                        <h3 class="story-one__title">Crafting Expertise: Africa PHEOC-Net's Development of Regional Training and Technical Materials</h3><!-- /.story-one__title -->
                                        <p class="story-one__text story-one__text--one">In 2018, Africa PHEOC-Net developed essential training materials and technical documents, including the Handbook for PHEOC and legal framework guidelines, for member states. </p><!-- /.story-one__text story-one__text--one -->
                                        <p class="story-one__text story-one__text--two">A comprehensive review of these resources took place in Brazzaville from October 22nd to 26th, 2018.</p><!-- /.story-one__text story-one__text--two -->
                                       
                                    </div><!-- /.story-one__content -->
                                </div><!-- /.col-xl-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab -->

                        <div class="tab" id="year2003" style="display: none;">
                            <div class="row gutter-y-40">
                                <div class="col-xl-6 animated fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__image">
                                        <img src="assets/images/story/ethiopia.jpg" alt="story">
                                    </div><!-- /.story-one__image -->
                                </div><!-- /.col-xl-6 -->
                                <div class="col-xl-6 animated fadeInRight" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__content">
                                        <h3 class="story-one__title">Empowering the Pioneer Cohort: Africa PHEOC-Net's Inaugural ToT Workshop for PHEOC Experts</h3><!-- /.story-one__title -->
                                        <p class="story-one__text story-one__text--one">Africa PHEOC-Net organized a transformative nine-day workshop, bringing together a regional team of experts at Public Health Emergency Operations Centres (PHEOCs). Their goal? To establish new centers and bolster the capacity of WHO Member States in coordinating, preparing for, and responding to public health emergencies.</p><!-- /.story-one__text story-one__text--one -->
                                      
                                       
                                    </div><!-- /.story-one__content -->
                                </div><!-- /.col-xl-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab -->

                        <div class="tab" id="year2015" style="display: none;">
                            <div class="row gutter-y-40">
                                <div class="col-xl-6 animated fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__image">
                                        <img src="assets/images/story/ex.jpeg" alt="story">
                                    </div><!-- /.story-one__image -->
                                </div><!-- /.col-xl-6 -->
                                <div class="col-xl-6 animated fadeInRight" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__content">
                                        <h3 class="story-one__title">Empowering Africa's Response: Africa PHEOC-Net Leads Regional Functional Simulation Exercise</h3><!-- /.story-one__title -->
                                        <p class="story-one__text story-one__text--one">Africa PHEOC-Net spearheads a regional simulation exercise on December 4th-5th, 2019, engaging 17 African countries. </p><!-- /.story-one__text story-one__text--one -->
                                        <p class="story-one__text story-one__text--two">Held in Brazzaville at the WHO African Region headquarters, the exercise simulates a response to a communicable disease outbreak in Eastern Africa, eventually revealed to be Ebola.</p><!-- /.story-one__text story-one__text--two -->
                                       
                                    </div><!-- /.story-one__content -->
                                </div><!-- /.col-xl-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab -->

                        <div class="tab" id="year2020" style="display: none;">
                            <div class="row gutter-y-40">
                                <div class="col-xl-6 animated fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__image">
                                        <img src="assets/images/story/kenya.jpg" alt="story">
                                    </div><!-- /.story-one__image -->
                                </div><!-- /.col-xl-6 -->
                                <div class="col-xl-6 animated fadeInRight" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__content">
                                        <h3 class="story-one__title">Strengthening Regional Capacity: 2nd Training Workshop on PHEOC</h3><!-- /.story-one__title -->
                                        <p class="story-one__text story-one__text--one">The 2nd Training of Trainers Workshop on Public Health Emergency Operations Centre (PHEOC) convened with the aim of bolstering countries' capacity in coordinating and responding to Public Health Emergencies (PHEs). </p><!-- /.story-one__text story-one__text--one -->
                                        <p class="story-one__text story-one__text--two">The workshop focused on equipping Regional Trainers to conduct cascade trainings for national PHEOC and Incident Management System (IMS) staff, emphasizing PHEOC operations and management.</p><!-- /.story-one__text story-one__text--two -->
                                       
                                    </div><!-- /.story-one__content -->
                                </div><!-- /.col-xl-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab -->

                        <div class="tab" id="year2023" style="display: none;">
                            <div class="row gutter-y-40">
                                <div class="col-xl-6 animated fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__image">
                                        <img src="assets/images/story/International-Conference-on-Public-Health-in-Africa.jpeg" alt="story">
                                    </div><!-- /.story-one__image -->
                                </div><!-- /.col-xl-6 -->
                                <div class="col-xl-6 animated fadeInRight" data-wow-duration="1500ms" data-wow-delay="100ms">
                                    <div class="story-one__content">
                                        <h3 class="story-one__title">Launch of Five-Year Strategic Plan to Strengthen Public Health Emergency Operations Centers in Africa</h3><!-- /.story-one__title -->
                                        <p class="story-one__text story-one__text--one">In a collaborative effort, the Africa CDC, WHO, member states, the UK Health Security Agency, and partners unveiled a transformative five-year plan during the third International Conference on Public Health in Africa.</p><!-- /.story-one__text story-one__text--one -->
                                        <p class="story-one__text story-one__text--two">Aimed at strengthening PHEOCs across Africa and the Eastern Mediterranean, the plan seeks to enhance health preparedness and response capabilities in at least 50 African countries.</p><!-- /.story-one__text story-one__text--two -->
                                       
                                    </div><!-- /.story-one__content -->
                                </div><!-- /.col-xl-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.tab -->
                    </div><!-- /.tabs-content -->
                    <div class="story-one__divider"></div><!-- /.story-one__divider -->
                    <div class="tab-buttons">
                        <div class="row gutter-y-20">
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div data-tab="#year1992" class="tab-btn tab-btn--one active-btn wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <h3 class="tab-btn__text">2015</h3>
                                </div>
                            </div><!-- /.col-lg-2 col-sm-4 col-6 -->
                            
                             <div class="col-lg-2 col-sm-4 col-6">
                                <div data-tab="#year2010" class="tab-btn tab-btn--three wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                    <h3 class="tab-btn__text">2018</h3>
                                </div>
                            </div><!-- /.col-lg-2 col-sm-4 col-6 -->
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div data-tab="#year2003" class="tab-btn tab-btn--two wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                    <h3 class="tab-btn__text">2019</h3>
                                </div>
                            </div><!-- /.col-lg-2 col-sm-4 col-6 -->
                           
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div data-tab="#year2015" class="tab-btn tab-btn--four wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                    <h3 class="tab-btn__text">2019</h3>
                                </div>
                            </div><!-- /.col-lg-2 col-sm-4 col-6 -->
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div data-tab="#year2020" class="tab-btn tab-btn--five wow fadeInUp" data-wow-delay="800ms" data-wow-duration="1500ms">
                                    <h3 class="tab-btn__text">2020</h3>
                                </div>
                            </div><!-- /.col-lg-2 col-sm-4 col-6 -->
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div data-tab="#year2023" class="tab-btn tab-btn--six wow fadeInUp" data-wow-delay="1s" data-wow-duration="1500ms">
                                    <h3 class="tab-btn__text">2023</h3>
                                </div>
                            </div><!-- /.col-lg-2 col-sm-4 col-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.tab-buttons -->
                </div><!-- /.story-one__tabs-box -->
            </div><!-- /.container -->
        </section><!-- /.story-one section-space-top -->
        
        <section class="testimonials-two section-space">
            <div class="container">
                <div class="testimonials-two__top">
                    <div class="row gutter-y-30 align-items-center">
                        <div class="col-lg-7">
                            <div class="sec-title">

                                <h6 class="sec-title__tagline @@extraClassName">Africa PHEOC-NET</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Our <span class="sec-title__title__inner">goal</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                        </div><!-- /.col-lg-7 -->
                        <div class="col-lg-5 wow fadeInRight" data-wow-duration="1500ms">
                            <p class="testimonials-two__text">Our goal is to enhance collaboration and facilitate timely information-sharing by bolstering the networking capabilities of national PHEOCs throughout the region.</p><!-- /.testimonials-two__text -->
                        </div><!-- /.col-lg-5 -->
                    </div><!-- /.row gutter-y-40 -->
                </div><!-- /.testimonials-two__top -->
                  <div class="testimonials-two__top">
                    <div class="row gutter-y-30 align-items-center">
                        <div class="col-lg-7">
                            <div class="sec-title">

                                <h6 class="sec-title__tagline @@extraClassName">Africa PHEOC-NET</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Our <span class="sec-title__title__inner">aim</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                        </div><!-- /.col-lg-7 -->
                        <div class="col-lg-5 wow fadeInRight" data-wow-duration="1500ms">
                            <p class="testimonials-two__text">The Network is designed to improve collaboration and timely information-sharing by strengthening the networking of national PHEOCs across the region to help ensure effective coordination and response to PHEs. </p><!-- /.testimonials-two__text -->
                        </div><!-- /.col-lg-5 -->
                    </div><!-- /.row gutter-y-40 -->
                </div><!-- /.testimonials-two__top -->
                <div class="testimonials-two__carousel cleenhearts-owl__carousel cleenhearts-owl__carousel--basic-nav owl-theme owl-carousel" data-owl-options='{
            "items": 1,
            "margin": 30,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": 6000,
            "nav":false,
            "dots":false,
            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "responsive":{
                "0":{
                    "items": 1,
                    "dots": true,
                    "loop":true,
                    "margin": 20
                },
                "575":{
                    "items": 1,
                    "dots": true,
                    "loop":true,
                    "margin": 30
                },
                "768":{
                    "items": 1,
                    "dots": true,
                    "loop":true,
                    "margin": 30
                },
                "992":{
                    "items": 2,
                    "dots": false,
                    "loop": false,
                    "margin": 30
                },
                "1200":{
                    "items": 2,
                    "dots": false,
                    "loop": false,
                    "margin": 30
                }
            }
            }'>
                    
                    
                </div><!-- /.testimonials-two__carousel -->
            </div><!-- /.container -->
        </section><!-- /.testimonials-two section-space -->
        
        
        <div th:replace="frontend-footer"></div>
    </div><!-- /.page-wrapper -->

    <div th:replace="frontend-mobile-nav"></div>
    <div th:replace="frontend-search-popup"></div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    <div th:replace="frontend-sidebar"></div>
	<script th:src="@{/assets/vendors/jquery/jquery-3.7.0.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
	<script th:src="@{/assets/vendors/jarallax/jarallax.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ui/jquery-ui.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-appear/jquery.appear.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-validate/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/vendors/nouislider/nouislider.min.js}"></script>
	<script th:src="@{/assets/vendors/tiny-slider/tiny-slider.js}"></script>
	<script th:src="@{/assets/vendors/wnumb/wNumb.min.js}"></script>
	<script th:src="@{/assets/vendors/swiper/js/swiper-bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/owl-carousel/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/vendors/wow/wow.js}"></script>
	<script th:src="@{/assets/vendors/imagesloaded/imagesloaded.min.js}"></script>
	<script th:src="@{/assets/vendors/isotope/isotope.js}"></script>
	<script th:src="@{/assets/vendors/countdown/countdown.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circleType/jquery.circleType.js}"></script>
	<script th:src="@{/assets/vendors/jquery-lettering/jquery.lettering.min.js}"></script>
	<!-- template js -->
	<script th:src="@{/assets/js/cleenhearts.js}"></script>
	
</body>
</html>
