<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<head>
 <meta name="_csrf" th:content="${_csrf.token}"/>
 <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body data-topbar="dark">
    <header th:replace="header :: page-topbar"></header>
    <div th:replace="sidebar :: menu"></div>

    <div class="main-content">
        <div class="page-content">
        	<div class="container-fluid">
                <div class="row">
                <div class="col-lg-12">
			       
                </div>
                    <div class="col-lg-12">
                     <div class="card">
    	<div class="card-header justify-content-between d-flex align-items-center">
        <h4 class="card-title">Forum discussion</h4>
        </div>
        <div class="card-body">
    			<div class="tables">
                       <div class="bs-example widget-shadow" data-example-id="hoverable-table"> 
    <table id="datatables-fixed-header" class="table table-striped" style="width:100%"> 
    <tr class="active">
        <td>
            <i class="fas fa-comments"></i> <b> Comments Management </b>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/api/comments/view/1}">
                <i class="fas fa-comments"></i> General discussion
            </a>
        </td>
    </tr>
    <tr class="active">
        <td>
            <i class="ion ion-ios-chatboxes me-2"></i> <b> Discussion Groups </b>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/api/comments/view/2}">
                <i class="fas fa-book"></i> PHEOC plans, procedures, and legal instruments
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/api/comments/view/3}">
                <i class="fas fa-users"></i> PHEOC Workforce development
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/api/comments/view/4}">
                <i class="fas fa-chart-pie"></i> Technology infrastructure and Information
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/api/comments/view/5}">
                <i class="fas fa-cube"></i> PHEOC Centers of Excellence
            </a>
        </td>
    </tr>
</table>

</div>
                       
                                               
				</div>
		</div>

<script>
    function cancelUpdate() {
        window.history.back();
    }
</script>
        
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <footer th:replace="footer :: footer-content"></footer>
    <footer th:replace="rightbar :: right-bar"></footer>
    
     <!-- JAVASCRIPT -->
	<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/libs/metismenujs/metismenujs.min.js}"></script>
	<script th:src="@{/libs/simplebar/simplebar.min.js}"></script>
	<script th:src="@{/libs/feather-icons/feather.min.js}"></script>
	
	
	
	<script th:src="@{/js/app.js}"></script>
</body>
</html>
