<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body data-topbar="dark">
    <header th:replace="header :: page-topbar"></header>
    <div th:replace="sidebar :: menu"></div>

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
             <div class="col-xl-12">
               <div class="card">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card bg-light overflow-hidden">
                            <div class="card-body">
                                <div class="faq-icon">
                                    <i class="bx bx-help-circle text-primary"></i>
                                </div>
                                <h5 class="text-primary">01.</h5>
                                <h5 class="faq-title mt-3">How do I access the online forum?</h5>
                                <p class="faq-ans text-muted mt-2 mb-0">To access the online forum, simply log in to your account and navigate to the "Online Forum" section from the main menu. Here, you can view and participate in discussions on various topics.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-light overflow-hidden">
                            <div class="card-body">
                                <div class="faq-icon">
                                    <i class="bx bx-help-circle text-primary"></i>
                                </div>
                                <h5 class="text-primary">02.</h5>
                                <h5 class="faq-title mt-3">How can I view ongoing projects and related tasks in the technical working group?</h5>
                                <p class="faq-ans text-muted mt-2 mb-0">You can view ongoing projects and related tasks by accessing the "Technical Working Group" section. Here, you'll find comprehensive details about projects, tasks, progress, and any related documentation.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-light overflow-hidden">
                            <div class="card-body">
                                <div class="faq-icon">
                                    <i class="bx bx-help-circle text-primary"></i>
                                </div>
                                <h5 class="text-primary">03.</h5>
                                <h5 class="faq-title mt-3">How do I submit feedback?</h5>
                                <p class="faq-ans text-muted mt-2 mb-0">To submit feedback, go to the "Feedback" section and follow the prompts to share your thoughts, suggestions, or concerns. Your feedback is valuable in helping us improve the application.</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end row -->

                <div class="row">
                    <div class="col-xl-4">
                        <div class="card bg-light overflow-hidden">
                            <div class="card-body">
                                <div class="faq-icon">
                                    <i class="bx bx-help-circle text-primary"></i>
                                </div>
                                <h5 class="text-primary">04.</h5>
                                <h5 class="faq-title mt-3">What is the purpose of the special module for Trainers?</h5>
                                <p class="faq-ans text-muted mt-2 mb-0">The special module for Trainers is designed to facilitate communication and collaboration among trainers involved in strengthening the Public Health Emergency Operations Center (PHEOC) in the African region. It also allows trainers to manage their CVs and availability for deployment.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-light overflow-hidden">
                            <div class="card-body">
                                <div class="faq-icon">
                                    <i class="bx bx-help-circle text-primary"></i>
                                </div>
                                <h5 class="text-primary">05.</h5>
                                <h5 class="faq-title mt-3">How can trainers exchange their experiences in strengthening PHEOC in the African Region?</h5>
                                <p class="faq-ans text-muted mt-2 mb-0">Trainers can exchange their experiences by participating in discussions within the dedicated forum or by initiating conversations with other trainers using the messaging feature provided in the Trainers module.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-light overflow-hidden">
                            <div class="card-body">
                                <div class="faq-icon">
                                    <i class="bx bx-help-circle text-primary"></i>
                                </div>
                                <h5 class="text-primary">06.</h5>
                                <h5 class="faq-title mt-3">How do trainers manage their CV and availability for deployment?</h5>
                                <p class="faq-ans text-muted mt-2 mb-0">Trainers can manage their CVs and availability for deployment by accessing their profile settings within the Trainers module. Here, they can update their CV information, specify their availability for deployment.</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->

                <div class="row">
                    <div class="col-xl-4">
                        <div class="card bg-light overflow-hidden">
                            <div class="card-body">
                                <div class="faq-icon">
                                    <i class="bx bx-help-circle text-primary"></i>
                                </div>
                                <h5 class="text-primary">07.</h5>
                                <h5 class="faq-title mt-3">Can I access the application from any device?</h5>
                                <p class="faq-ans text-muted mt-2 mb-0">Yes, the application is accessible from any device with internet connectivity. Whether you're using a computer, tablet, or smartphone, you can log in to the application using your credentials and access its features.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-light overflow-hidden">
                            <div class="card-body">
                                <div class="faq-icon">
                                    <i class="bx bx-help-circle text-primary"></i>
                                </div>
                                <h5 class="text-primary">08.</h5>
                                <h5 class="faq-title mt-3">Is there a notification system for updates and important announcements?</h5>
                                <p class="faq-ans text-muted mt-2 mb-0">Yes, the application features a notification system that alerts users about updates, important announcements, new forum discussions, project milestones, and other relevant information. Users can customize their notification preferences to suit their needs.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="card bg-light overflow-hidden">
                            <div class="card-body">
                                <div class="faq-icon">
                                    <i class="bx bx-help-circle text-primary"></i>
                                </div>
                                <h5 class="text-primary">9.</h5>
                                <h5 class="faq-title mt-3">What should I do if I encounter technical issues or need assistance?</h5>
                                <p class="faq-ans text-muted mt-2 mb-0">If you encounter technical issues or require assistance, you can reach out to our technical support team via the "Support" section or contact us directly through email or phone. Our support team is dedicated to resolving any issues and providing assistance to ensure a seamless user experience.</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container-fluid -->
        </div> <!-- end page-content -->
    </div> <!-- end main-content -->
    </div>
    </div>
    <footer th:replace="footer :: footer-content"></footer>
    <footer th:replace="rightbar :: right-bar"></footer>
    
    <!-- JAVASCRIPT -->
    <script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/metismenujs/metismenujs.min.js}"></script>
    <script th:src="@{/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/libs/feather-icons/feather.min.js}"></script>
    
    <!-- apexcharts -->
    <script th:src="@{/libs/apexcharts/apexcharts.min.js}"></script>
    
    <!-- Vector map-->
    <script th:src="@{/libs/jsvectormap/js/jsvectormap.min.js}"></script>
    <script th:src="@{/libs/jsvectormap/maps/world-merc.js}"></script>
    
    <!-- swiper js -->
    <script th:src="@{/libs/swiper/swiper-bundle.min.js}"></script>
    
    <script th:src="@{/js/pages/dashboard.init.js}"></script>
    
    <script th:src="@{/js/app.js}"></script>
</body>
</html>
