<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>Sign Out | Africa PHEOC-Net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Sign In" name="Connect to Africa PHEOC-Net" />

    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>

    <body class="bg-white">

        <div class="auth-page d-flex align-items-center min-vh-100">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-xxl-3 col-lg-4 col-md-5">
                           <div class="d-flex flex-column h-100 py-5 px-4">
                    <div class="text-center text-muted mb-2">
                        <div class="pb-3">
                            <a href="/login">
                                <span class="logo-lg">
                                    <img src="images/logo-sm.svg" alt="" height="24">
                                    <span class="logo-txt">AFR PHEOC-NET</span>
                                </span>
                            </a>
                            <p class="text-muted font-size-15 w-75 mx-auto mt-3 mb-0">PHEOCs save lives...</p>
                        </div>
                    </div>

                    <div class="my-auto">
                        <div class="p-3 text-center">
                            <img src="images/pheoc-net.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="mt-4 mt-md-5 text-center">
                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Africa PHEOC-NET</p>
                    </div>
                </div>
                        
                        <!-- end auth full page content -->
                    </div>
                    <!-- end col -->
    
                    <div class="col-xxl-9 col-lg-8 col-md-7">
                        <div class="auth-bg bg-light py-md-5 p-4 d-flex">
                            <div class="bg-overlay-gradient"></div>
                            <!-- end bubble effect -->
                            <div class="row justify-content-center g-0 align-items-center w-100">
                                <div class="col-xl-4 col-lg-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="px-3 py-3">
                                                <div class="avatar-lg mx-auto">
                                                    <div class="avatar-title bg-primary-subtle text-primary display-5 rounded-circle">
                                                        <i class="uil uil-user-circle"></i>
                                                    </div>
                                                </div>

                                                <div class="text-center mt-4 py-2">
                                                    <h4>You are Logged Out</h4>
                                                    
                                                    <div class="mt-4">
                                                        <a href="/login" class="btn btn-primary w-100">Sign In</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container fluid -->
        </div>
        <!-- end authentication section -->

      <!-- JAVASCRIPT -->
<!-- JAVASCRIPT -->
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="libs/metismenujs/metismenujs.min.js"></script>
<script src="libs/simplebar/simplebar.min.js"></script>
<script src="libs/feather-icons/feather.min.js"></script>
<script src="js/pages/pass-addon.init.js"></script>

    </body>
</html>
