<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head">
</head>
<body data-topbar="dark">
    <header th:replace="header :: page-topbar"></header>
    <div th:replace="sidebar :: menu"></div>

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header justify-content-between d-flex align-items-center">
                                <h4 class="card-title">Password</h4>
                            </div>
                            <div class="card-body">
                                <div id="alertBox" class="alert alert-warning alert-top-border alert-dismissible fade show" role="alert" style="display: none;">
                                    <i class="uil uil-exclamation-triangle font-size-16 text-warning me-2"></i>
                                    <span class="alert-message">A simple border warning alert</span>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                <div class="mb-3">
                                    <label for="inputPasswordCurrent">Current password</label>
                                    <input type="password" class="form-control" id="inputPasswordCurrent" name="old">
                                </div>
                                <div class="mb-3">
                                    <label for="inputPasswordNew">New password</label>
                                    <input type="password" class="form-control" id="inputPasswordNew" name="new">
                                    <input type="checkbox" onclick="myFunction()">Show Password <br>
                                    <script>
                                        function myFunction() {
                                            var x = document.getElementById("inputPasswordNew");
                                            if (x.type === "password") {
                                                x.type = "text";
                                            } else {
                                                x.type = "password";
                                            }
                                        }
                                    </script>
                                </div>
                                <div class="mb-3">
                                    <label for="inputPasswordNew2">Verify password</label>
                                    <input type="password" class="form-control" id="inputPasswordNew2" name="confirm">
                                </div>
                                <button type="submit" class="btn btn-primary" onclick="validatePassword();">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="footer :: footer-content"></footer>
    <footer th:replace="rightbar :: right-bar"></footer>

    <!-- JAVASCRIPT -->
    <script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/libs/metismenujs/metismenujs.min.js}"></script>
    <script th:src="@{/libs/simplebar/simplebar.min.js}"></script>
    <script th:src="@{/libs/feather-icons/feather.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</body>
</html>
