<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>

<body data-topbar="dark">
    <header th:replace="header :: page-topbar"></header>
    <div th:replace="sidebar :: menu"></div>

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                <div class="col-lg-12">
                 <div id="alertBox" class="alert alert-warning alert-top-border alert-dismissible fade show" role="alert" style="display: none;">
				    <i class="uil uil-exclamation-triangle font-size-16 text-warning me-2"></i>
				   <span class="alert-message">A simple border warning alert</span>
				    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
                </div>
                    <div class="col-lg-8">
                     <div class="card">
    	<div class="card-header justify-content-between d-flex align-items-center">
        <h4 class="card-title">Feedback</h4>
        <button type="button" class="btn btn-secondary w-sm" onclick="cancelUpdate()">Back</button>
        <script>
    function cancelUpdate() {
        
        window.history.back();
    }
</script>
        </div>
   <div class="card-body">
    <table>
        <tr>
            <th> 
                <h1>
    <span class="announcement-icon" th:switch="${feedback.type}">
        <span th:case="'Compliment'">👏</span>
        <span th:case="'Suggestion'">🤔</span>
        <span th:case="'Complaint'">😞</span>
        <span th:case="*">📢</span>
    </span>
    <span th:style="'font-weight: bold;'" th:text="${feedback.type}"></span>
</h1>
                
            </th>
        </tr>
        <tr>
            <td>
                <p><strong>Type:</strong> <span th:text="${feedback.type}"></span></p>
                <p><strong>Rating:</strong> <span th:text="${feedback.rating}"></span></p>
				<p><strong>Description:</strong></p>
				<textarea disabled th:text="${feedback.feedbackText}" style="width: 200%; height: 150px;"></textarea>

                
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <i class="far fa-calendar-alt"></i> <span th:text="${#dates.format(feedback.submissionDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
               <button id="clearFeedbackButton"  class="btn btn-danger" th:onclick="'clearFeedback(' + ${feedback.id} + ')'">
			    <i class="fas fa-trash-alt"></i> Clear Feedback
			</button>
			
			

            </td>
        </tr>
    </table>
</div>

     
       
        
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>
    
    <footer th:replace="footer :: footer-content"></footer>
    <footer th:replace="rightbar :: right-bar"></footer>
    
     <!-- JAVASCRIPT -->
	<script th:src="@{/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/libs/metismenujs/metismenujs.min.js}"></script>
	<script th:src="@{/libs/simplebar/simplebar.min.js}"></script>
	<script th:src="@{/libs/feather-icons/feather.min.js}"></script>
	
	<!-- apexcharts -->
	<script th:src="@{/libs/apexcharts/apexcharts.min.js}"></script>
	
	<!-- Vector map-->
	<script th:src="@{/libs/jsvectormap/js/jsvectormap.min.js}"></script>
	<script th:src="@{/libs/jsvectormap/maps/world-merc.js}"></script>
	
	<!-- swiper js -->
	<script th:src="@{/libs/swiper/swiper-bundle.min.js}"></script>
	
	<script th:src="@{/js/pages/dashboard.init.js}"></script>
	
	<script th:src="@{/js/app.js}"></script>
</body>
</html>
