<!-- frontend-footer.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="main-footer background-white2" th:fragment="footer">
            <div class="main-footer__top">
                <div class="container">
                    <div class="row gutter-y-30">
                        <div class="col-md-12 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                            <div class="footer-widget footer-widget--about">
                                <a href="/" class="footer-widget__logo">
                                    <img src="assets/images/pheoc-net.png" width="159" alt="Africa PHEOC-Net Logo">
                                </a>
                                <p class="footer-widget__about-text"> PHEOCs save lives... </p>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-md-12 col-xl-3 -->
                        <div class="col-xl-3 col-md-5 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                            <div class="footer-widget footer-widget--contact">
                                <h2 class="footer-widget__title">Get in touch!</h2><!-- /.footer-widget__title -->
                                <ul class="list-unstyled footer-widget__info">
                                    
                                    <li> <span class="icon-envelope"></span><a href="mailto:afrpheocnet@who.int">afrpheocnet@who.int</a></li>
                                </ul><!-- /.list-unstyled -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-xl-3 col-md-5 -->
                        <div class="col-md-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
                            <div class="footer-widget footer-widget--links">
                                <h2 class="footer-widget__title">Quick Links</h2><!-- /.footer-widget__title -->
                                <ul class="list-unstyled footer-widget__links">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="https://www.afro.who.int/about-us/programmes-clusters/who-health-emergencies-programme" target="_blank">WHO AFRO EPR</a></li>
	                                <li><a href="https://aho.afro.who.int/" target="_blank">Emergencies</a></li>
	                                <li><a href="https://www.who.int/health-topics/international-health-regulations#tab=tab_1" target="_blank">IHR</a></li>
	                                <li><a href="https://africacdc.org/" target="_blank">Africa CDC EOC</a></li>
	                                <li><a href="https://www.cdc.gov/orr/deo/index.htm" target="_blank">US CDC EOC</a></li>
	                                <li><a href="/faq">Q&A</a></li>
                                </ul><!-- /.list-unstyled footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-md-3 -->
                      
                    </div><!-- /.row -->
                </div><!-- /.container -->
                <div class="main-footer__top__shape-box">
                    <img src="assets/images/shapes/footer-shape-hand-1-1.png" alt="hand" class="main-footer__top__shape-one">
                </div><!-- /.main-footer__top__shape-box -->
            </div><!-- /.main-footer__top -->
            <div class="main-footer__bottom">
                <div class="main-footer__bottom__bg" style="background: url('assets/images/backgrounds/footer-bottom-bg-1-2.png');"></div><!-- /.main-footer__bottom-bg -->
                <div class="container">
                    <div class="main-footer__bottom__inner">
                        <p class="main-footer__copyright">
                            &copy; Copyright <span class="dynamic-year"></span>  Africa Public Health Emergency Operations Center Network, All Rights Reserved
                        </p>
                    </div><!-- /.main-footer__inner -->
                </div><!-- /.container -->
            </div><!-- /.main-footer__bottom -->
        </footer><!-- /.main-footer -->
 </html>
