<!-- frontend-topbar.html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="topbar-one" th:fragment="topbar-one">
            <div class="container-fluid">
                <div class="topbar-one__inner">
                    <ul class="list-unstyled topbar-one__info">
                        <li class="topbar-one__info__item">
                            <span class="topbar-one__info__icon icon-paper-plane"></span>
                            Africa Public Health Emergency Operations Center Network (Africa PHEOC-NET)
                        </li>
                        
                    </ul><!-- /.list-unstyled topbar-one__info -->
                </div><!-- /.topbar-one__inner -->
            </div><!-- /.container -->
        </div><!-- /.topbar-one -->
</html>