<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frontend-header  :: head"></head>
<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <div th:replace="frontend-topbar :: topbar-one"></div>
        
        <header th:replace="frontend-header :: main-header"></header>
       

		<!-- main-slider-start -->
        <section class="main-slider-one">
            <div class="main-slider-one__wrapper">
                <div class="main-slider-one__carousel cleenhearts-owl__carousel owl-carousel" data-owl-options='{
			"loop": true,
			"animateOut": "fadeOut",
			"animateIn": "fadeIn",
			"items": 1,
			"autoplay": true,
			"autoplayTimeout": 7000,
			"smartSpeed": 1000,
			"nav": false,
			"navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
			"dots": true,
			"margin": 0
			}'>
					 <div class="item">
                        <div class="main-slider-one__item">
                            <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/bg_pheoc.png);"></div>
                            <div class="main-slider-one__shape-one" style="background-image: url(assets/images/shapes/slider-1-shape-1.png);"></div>
                            <div class="main-slider-one__shape-two" style="background-image: url(assets/images/shapes/slider-1-shape-2.png);"></div>
                            <div class="main-slider-one__content">
                                
                                <!-- slider-sub-title -->
                                <h2 class="main-slider-one__title">
                                    <span class="main-slider-one__title__text">PHEOCs save lives...</span><br>
                                </h2><!-- slider-title -->
                                <div class="main-slider-one__btn">
                                    <a href="" class="cleenhearts-btn">
                                        <div class="cleenhearts-btn__icon-box">
                                            <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></div>
                                        </div>
                                        <span class="cleenhearts-btn__text">join with us</span>
                                    </a><!-- slider-btn -->
                                   
                                </div>
                            </div>
                        </div>
                    </div><!-- item -->
                    <div class="item">
                        <div class="main-slider-one__item">
                            <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/Afro_Simex.jpg);"></div>
                            <div class="main-slider-one__shape-one" style="background-image: url(assets/images/shapes/slider-1-shape-1.png);"></div>
                            <div class="main-slider-one__shape-two" style="background-image: url(assets/images/shapes/slider-1-shape-2.png);"></div>
                            <div class="main-slider-one__content">
                                
                                <!-- slider-sub-title -->
                                <h2 class="main-slider-one__title">
                                    <span class="main-slider-one__title__text">PHEOCs save lives...</span><br>
                                </h2><!-- slider-title -->
                                <div class="main-slider-one__btn">
                                    <a href="become-a-volunteer.html" class="cleenhearts-btn">
                                        <div class="cleenhearts-btn__icon-box">
                                            <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></div>
                                        </div>
                                        <span class="cleenhearts-btn__text">join with us</span>
                                    </a><!-- slider-btn -->
                                   
                                </div>
                            </div>
                        </div>
                    </div><!-- item -->
                    <div class="item">
                        <div class="main-slider-one__item">
                            <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/ebola.jpg);"></div>
                            <div class="main-slider-one__shape-one" style="background-image: url(assets/images/shapes/slider-1-shape-1.png);"></div>
                            <div class="main-slider-one__shape-two" style="background-image: url(assets/images/shapes/slider-1-shape-2.png);"></div>
                            <div class="main-slider-one__content">
                                
                                <!-- slider-sub-title -->
                                <h2 class="main-slider-one__title">
                                    <span class="main-slider-one__title__text">PHEOCs save lives...</span><br>
                                </h2><!-- slider-title -->
                                <div class="main-slider-one__btn">
                                    <a href="" class="cleenhearts-btn">
                                        <div class="cleenhearts-btn__icon-box">
                                            <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></div>
                                        </div>
                                        <span class="cleenhearts-btn__text">join with us</span>
                                    </a><!-- slider-btn -->
                                   
                                </div>
                            </div>
                        </div>
                    </div><!-- item -->
                    <div class="item">
                        <div class="main-slider-one__item">
                            <div class="main-slider-one__bg" style="background-image: url(assets/images/backgrounds/17.jpg);"></div>
                            <div class="main-slider-one__shape-one" style="background-image: url(assets/images/shapes/slider-1-shape-1.png);"></div>
                            <div class="main-slider-one__shape-two" style="background-image: url(assets/images/shapes/slider-1-shape-2.png);"></div>
                            <div class="main-slider-one__content">
                                
                                <!-- slider-sub-title -->
                                <h2 class="main-slider-one__title">
                                    <span class="main-slider-one__title__text">PHEOCs save lives...</span><br>
                                </h2><!-- slider-title -->
                                <div class="main-slider-one__btn">
                                    <a href="" class="cleenhearts-btn">
                                        <div class="cleenhearts-btn__icon-box">
                                            <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></div>
                                        </div>
                                        <span class="cleenhearts-btn__text">join with us</span>
                                    </a><!-- slider-btn -->
                                    
                                </div>
                            </div>
                        </div>
                    </div><!-- item -->
                </div>
            </div>
        </section>
        <!-- main-slider-end -->

		<section class="about-one about-one--home section-space">
            <div class="about-one__bg">
                <div class="about-one__bg__border"></div><!-- /.about-one__bg__border -->
                <div class="about-one__bg__inner" style="background-image: url('assets/images/shapes/about-shape-1-1.png');"></div><!-- /.about-one__left__bg__inner -->
            </div><!-- /.about-one__left__bg -->
            <div class="container">
                <div class="row gutter-y-50">
                    <div class="col-xl-6 wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="about-one__left">
                            <div class="about-one__image">
                                <img src="assets/images/about/tot.jpg" alt="about" class="about-one__image__one">
                                <div class="about-one__video" style="background-image: url('assets/images/about/ET-corona_1.jpg');">
                                    <a href="https://www.youtube.com/watch?v=RnPBjvT7Goo" class="about-one__video__btn video-button video-popup">
                                        <span class="icon-play"></span>
                                        <i class="video-button__ripple"></i>
                                    </a><!-- /.about-one__video__btn -->
                                </div><!-- /.about-one__video -->
                                
                            </div><!-- /.about-one__image -->
                        </div><!-- /.about-one__left -->
                    </div>
                    <div class="col-xl-6">
                        <div class="about-one__content">
                            <div class="sec-title">

                                <h6 class="sec-title__tagline @@extraClassName">ABOUT Africa PHEOC-NET</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">PHEOCs save <span class="sec-title__title__inner">lives</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <div class="about-one__text-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="about-one__text-box__image">
                                    <img src="assets/images/about/WHO_054996.jpg" alt="about">
                                </div><!-- /.about-one__text-box__image -->
                                <p class="about-one__text">The Africa PHEOC Network was established in November 2015 by the WHO Regional Office for Africa in coordination with the WHO Health Emergencies Programme. The Network is a key regional platform for collaboration, communication, and the exchange of information for ultimately improving the quality and efficiency of public health emergency management.</p>
                            </div><!-- /.about-one__text-box -->
                            <div class="about-one__wrapper">
                                <div class="row gutter-y-40">
                                    <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="about-one__donate about-one__donate--one">
                                            <div class="about-one__donate__icon">
                                                <span class="icon-team"></span>
                                            </div><!-- /.about-one__donate__icon -->
                                            <h4 class="about-one__donate__title">Learning & mutual support</h4><!-- /.about-one__donate__title -->
                                            
                                        </div><!-- /.about-one__donate -->
                                    </div><!-- /.col-lg-4 col-sm-4 -->
                                    <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                        <div class="about-one__donate about-one__donate--two">
                                            <div class="about-one__donate__icon">
                                                <span class="icon-donation"></span>
                                            </div><!-- /.about-one__donate__icon -->
                                            <h4 class="about-one__donate__title">Network resources & news</h4><!-- /.about-one__donate__title -->
                                           
                                        </div><!-- /.about-one__donate -->
                                    </div><!-- /.col-lg-4 col-sm-4 -->
                                    <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                        <div class="about-one__donate about-one__donate--three">
                                            <div class="about-one__donate__icon">
                                                <span class="icon-money"></span>
                                            </div><!-- /.about-one__donate__icon -->
                                            <h4 class="about-one__donate__title">Networking & collaboration</h4><!-- /.about-one__donate__title -->
                                           
                                        </div><!-- /.about-one__donate -->
                                    </div><!-- /.col-lg-4 col-sm-4 -->
                                </div><!-- /.row -->
                            </div><!-- /.about-one__wrapper -->
                            <div class="contact-information">
                                <a href="/about" class="contact-information__btn cleenhearts-btn">
                                    <div class="cleenhearts-btn__icon-box">
                                        <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></div>
                                    </div>
                                    <span class="cleenhearts-btn__text">more about us</span>
                                </a><!-- /.contact-information__btn -->
                                
                            </div><!-- /.contact-information -->
                        </div><!-- /.about-one__content -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
            <img src="assets/images/shapes/about-shape-1-2.png" alt="cleenhearts" class="about-one__hand">
        </section><!-- /.about-one section-space -->

		<section class="help-people" style="background-image: url('assets/images/backgrounds/help-people-bg-1.png');">
            <div class="container">
                <div class="row">
                    <div class="help-people__images col-xl-6">
                        <div class="help-people__images__inner">
                            <img src="assets/images/help-people/eoc-net.jpg" alt="help-people" class="wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="800ms">
                            <img src="assets/images/help-people/International-Conference-on-Public-Health-in-Africa.jpeg" alt="help-people" class="wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="400ms">
                        </div><!-- /.help-people__images__inner -->
                    </div><!-- /.col-xl-6 -->
                    <div class="help-people__content col-xl-6">
                        <div class="help-people__content__inner">
                            <div class="sec-title">

                                <h6 class="sec-title__tagline @@extraClassName">Africa PHEOC-NET</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Our <span class="sec-title__title__inner">Mission</span></h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <p class="help-people__text">The Network seeks to build and sustain national capacity to manage public health emergencies at all levels of the health system. The Network will act as a platform for enhancing partnerships and the synergy of national, regional and global efforts to support countries in the WHO African Region.</p><!-- /.help-people__text -->
                            <div class="help-people__content__bottom">
                                <a href="/application-form" class="cleenhearts-btn">
                                    <div class="cleenhearts-btn__icon-box">
                                        <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></div>
                                    </div>
                                    <span class="cleenhearts-btn__text">Join Us</span>
                                </a><!-- /.cleenhearts-btn -->
                              
                            </div><!-- /.help-people__content__bottom -->
                        </div><!-- /.help-people__content__inner -->
                    </div><!-- /.col-xl-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <div class="help-people__shape">
                <img src="assets/images/shapes/help-people-shape-1.png" alt="help-people" class="help-people__shape__one">
            </div><!-- /.help-people__shape -->
        </section><!-- /.help-people -->





    <div th:replace="frontend-footer :: footer"></div>
    </div><!-- /.page-wrapper -->

    <div th:replace="frontend-mobile-nav"></div>
    <div th:replace="frontend-search-popup"></div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    <div th:replace="frontend-sidebar"></div>
	<script th:src="@{/assets/vendors/jquery/jquery-3.7.0.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
	<script th:src="@{/assets/vendors/jarallax/jarallax.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ui/jquery-ui.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-appear/jquery.appear.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-validate/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/vendors/nouislider/nouislider.min.js}"></script>
	<script th:src="@{/assets/vendors/tiny-slider/tiny-slider.js}"></script>
	<script th:src="@{/assets/vendors/wnumb/wNumb.min.js}"></script>
	<script th:src="@{/assets/vendors/swiper/js/swiper-bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/owl-carousel/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/vendors/wow/wow.js}"></script>
	<script th:src="@{/assets/vendors/imagesloaded/imagesloaded.min.js}"></script>
	<script th:src="@{/assets/vendors/isotope/isotope.js}"></script>
	<script th:src="@{/assets/vendors/countdown/countdown.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circleType/jquery.circleType.js}"></script>
	<script th:src="@{/assets/vendors/jquery-lettering/jquery.lettering.min.js}"></script>
	<!-- template js -->
	<script th:src="@{/assets/js/cleenhearts.js}"></script>
	
</body>
</html>
