<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>Message | Africa PHEOC-Net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Message" name="Message" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body class="bg-white">
    <div class="auth-page d-flex align-items-center min-vh-100">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-xxl-3 col-lg-4 col-md-5">
                    <div class="d-flex flex-column h-100 py-5 px-4">
                        <div class="text-center text-muted mb-2">
                            <div class="pb-3">
                                <a href="/login">
                                    <span class="logo-lg">
                                        <img src="images/logo-sm.svg" alt="" height="24"> <span class="logo-txt">AFR PHEOC-NET</span>
                                    </span>
                                </a>
                                <p class="text-muted font-size-15 w-75 mx-auto mt-3 mb-0">PHEOCs save lives...</p>
                            </div>
                        </div>
                        <div class="my-auto">
                            <div class="p-3 text-center">
                                <img src="images/pheoc-net.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="mt-4 mt-md-5 text-center">
                            <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Africa PHEOC-NET</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-9 col-lg-8 col-md-7">
                    <div class="auth-bg bg-light py-md-5 p-4 d-flex">
                        <div class="bg-overlay-gradient"></div>
                        <div class="row justify-content-center g-0 align-items-center w-100">
                            <div class="col-xl-6 col-lg-8">
                                <div class="px-3 py-3 text-center">
                                    <h1 class="error-title"><span th:text="${type}"></span></h1>
                                    <h4 class="text-uppercase text-white"><span th:text="${message}"></span></h4>
                                    <div class="mt-5 text-center">
                                        <a class="btn btn-primary waves-effect waves-light" href="/login">Back to login</a>
                                    </div>
                                    <div class="mt-5 pt-4 px-5">
                                        <img src="images/error-img.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- JAVASCRIPT -->
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenujs/metismenujs.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
</body>
</html>
