<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="frontend-header :: head"></th:block>
<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <div th:replace="frontend-topbar"></div>
        <header th:replace="frontend-header :: main-header"></header>
         <section class="worldwide-one @@extraClassName section-space">
            <div class="worldwide-one__bg" style="background-image: url('assets/images/backgrounds/worldwide-bg-1-1.png');"></div><!-- /.worldwide-one__bg -->
            <div class="container">
                <div class="row gutter-y-60">
                    <div class="col-xl-6">
                        <div class="worldwide-one__content">
                            <div class="sec-title">

                                <h6 class="sec-title__tagline @@extraClassName">Africa PHEOC-NET</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Partnership <span class="sec-title__title__inner">and </span> collaboration </h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <p class="worldwide-one__text">The network serves as a Platform, for collaboration and partnership. There is a robust partnership for implementing PHEOC in the African Region. Partners involved include Africa CDC, BMGF (Bill and Melinda Gates Foundation), GIZ (Deutsche Gesellschaft für Internationale Zusammenarbeit), Resolve to Save Lives, RKI (Robert Koch Institute), UK Health Security Agency, US CDC (Centers for Disease Control and Prevention), WAHO (West African Health Organization). Several joint activities have been conducted .</p><!-- /.worldwide-one__text -->
                            <div class="row gutter-y-30">
                                <div class="col-md-6">
                                    <div class="worldwide-one__inner">
                                        <div class="worldwide-one__inner__icon">
                                            <span class="icon-team"></span>
                                        </div><!-- /.worldwide-one__inner__icon -->
                                        <div class="worldwide-one__inner__content">
                                            <h4 class="worldwide-one__inner__title">join our team</h4>
                                            <p class="worldwide-one__inner__text">9</p>
                                        </div><!-- /.worldwide-one__inner__content -->
                                    </div><!-- /.worldwide-one__inner -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                            <div class="worldwide-one__bottom">
                                <a href="/application-form" class="cleenhearts-btn cleenhearts-btn--border">
                                    <div class="cleenhearts-btn__icon-box">
                                        <div class="cleenhearts-btn__icon-box__inner"><span class="icon-duble-arrow"></span></div>
                                    </div>
                                    <span class="cleenhearts-btn__text">Become a member</span>
                                </a>
                               
                            </div><!-- /.worldwide-one__bottom -->
                        </div><!-- /.worldwide-one__content -->
                    </div><!-- /.col-xl-6 -->
                    <div class="col-xl-6">
                        <div class="worldwide-one__right">
                            <div class="worldwide-one__location worldwide-one__location--one">
                                <button type="button" class="worldwide-one__location__btn">
                                    <span class="worldwide-one__location__btn__box"></span>
                                </button><!-- /.worldwide-one__location__btn -->
                               
                            </div><!-- /.worldwide-one__location -->
                            <div class="worldwide-one__location worldwide-one__location--two">
                                <button type="button" class="worldwide-one__location__btn">
                                    <span class="worldwide-one__location__btn__box"></span>
                                </button><!-- /.worldwide-one__location__btn -->
                                
                            </div><!-- /.worldwide-one__location -->
                            <div class="worldwide-one__location worldwide-one__location--three">
                                <button type="button" class="worldwide-one__location__btn">
                                    <span class="worldwide-one__location__btn__box"></span>
                                </button><!-- /.worldwide-one__location__btn -->
                               
                            </div><!-- /.worldwide-one__location -->
                            <div class="worldwide-one__location worldwide-one__location--four">
                                <button type="button" class="worldwide-one__location__btn">
                                    <span class="worldwide-one__location__btn__box"></span>
                                </button><!-- /.worldwide-one__location__btn -->
                              
                            </div><!-- /.worldwide-one__location -->
                            <div class="worldwide-one__location worldwide-one__location--five">
                                <button type="button" class="worldwide-one__location__btn">
                                    <span class="worldwide-one__location__btn__box"></span>
                                </button><!-- /.worldwide-one__location__btn -->
                               
                            </div><!-- /.worldwide-one__location -->
                            <div class="worldwide-one__location worldwide-one__location--six">
                                <button type="button" class="worldwide-one__location__btn">
                                    <span class="worldwide-one__location__btn__box"></span>
                                </button><!-- /.worldwide-one__location__btn -->
                               
                            </div><!-- /.worldwide-one__location -->
                            <div class="worldwide-one__location worldwide-one__location--seven">
                                <button type="button" class="worldwide-one__location__btn">
                                    <span class="worldwide-one__location__btn__box"></span>
                                </button><!-- /.worldwide-one__location__btn -->
                              
                            </div><!-- /.worldwide-one__location -->
                            <div class="worldwide-one__location worldwide-one__location--eight">
                                <button type="button" class="worldwide-one__location__btn">
                                    <span class="worldwide-one__location__btn__box"></span>
                                </button><!-- /.worldwide-one__location__btn -->
                              
                            </div><!-- /.worldwide-one__location -->
                            <div class="worldwide-one__location worldwide-one__location--nine">
                                <button type="button" class="worldwide-one__location__btn">
                                    <span class="worldwide-one__location__btn__box"></span>
                                </button><!-- /.worldwide-one__location__btn -->
                               
                            </div><!-- /.worldwide-one__location -->
                        </div><!-- /.worldwide-one__right -->
                    </div><!-- /.col-xl-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
            <img src="assets/images/resources/worldwide-hand.png" alt="worldwide-hand" class="worldwide-one__hand">
        </section><!-- /.worldwide-one section-space -->
        

      
        <div th:replace="frontend-footer"></div>
    </div><!-- /.page-wrapper -->

    <div th:replace="frontend-mobile-nav"></div>
    <div th:replace="frontend-search-popup"></div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    <div th:replace="frontend-sidebar"></div>
	<script th:src="@{/assets/vendors/jquery/jquery-3.7.0.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
	<script th:src="@{/assets/vendors/jarallax/jarallax.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ui/jquery-ui.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-appear/jquery.appear.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-validate/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/vendors/nouislider/nouislider.min.js}"></script>
	<script th:src="@{/assets/vendors/tiny-slider/tiny-slider.js}"></script>
	<script th:src="@{/assets/vendors/wnumb/wNumb.min.js}"></script>
	<script th:src="@{/assets/vendors/swiper/js/swiper-bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/owl-carousel/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/vendors/wow/wow.js}"></script>
	<script th:src="@{/assets/vendors/imagesloaded/imagesloaded.min.js}"></script>
	<script th:src="@{/assets/vendors/isotope/isotope.js}"></script>
	<script th:src="@{/assets/vendors/countdown/countdown.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circleType/jquery.circleType.js}"></script>
	<script th:src="@{/assets/vendors/jquery-lettering/jquery.lettering.min.js}"></script>
	<!-- template js -->
	<script th:src="@{/assets/js/cleenhearts.js}"></script>
	
</body>
</html>
