<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="frontend-header :: head"></th:block>
<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <div th:replace="frontend-topbar"></div>
        <header th:replace="frontend-header :: main-header"></header>
        <div class="blog-one section-space">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-9">
                        <div class="sec-title">

                            <h6 class="sec-title__tagline @@extraClassName">Africa PHEOC-NET</h6><!-- /.sec-title__tagline -->

                            <h3 class="sec-title__title">Latest <span class="sec-title__title__inner"> Publications</span></h3><!-- /.sec-title__title -->
                        </div><!-- /.sec-title -->
                    </div><!-- /.col-xl-6 col-lg-7 col-md-9 -->
                </div><!-- /.row -->
                <div class="blog-one__carousel cleenhearts-owl__carousel cleenhearts-owl__carousel--basic-nav owl-theme owl-carousel" data-owl-options='{
            "items": 3,
            "margin": 30,
            "smartSpeed": 700,
            "loop":true,
            "autoplay": 6000,
            "nav":false,
            "dots":true,
            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
            "responsive":{
                "0":{
                    "items": 1,
                    "margin": 20
                },
                "575":{
                    "items": 1,
                    "margin": 30
                },
                "768":{
                    "items": 2,
                    "margin": 30
                },
                "992":{
                    "items": 3,
                    "margin": 30
                },
                "1200":{
                    "items": 3,
                    "margin": 30
                }
            }
            }'>
                    <div class="item">
                        <div class="blog-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='000ms'>
                            <a href="https://www.afro.who.int/sites/default/files/2021-03/AFRO_PHEOC-Handbook_.pdf" class="blog-card__image">
                                <img src="assets/images/blog/handbook.png" alt="PHEOC Handbook">
                                <div class="blog-card__date"><span>2021</span>
                                    </div><!-- /.blog-card__date -->
                            </a><!-- /.blog-card__image -->
                            <div class="blog-card__content" style="background-image: url('assets/images/blog/blog-bg-1-1.png');">
                                <h3 class="blog-card__title"><a href="https://www.afro.who.int/sites/default/files/2021-03/AFRO_PHEOC-Handbook_.pdf">Handbook for PHEOC Operations and Management</a></h3><!-- /.blog-card__title -->
                                <a href="https://www.afro.who.int/sites/default/files/2021-03/AFRO_PHEOC-Handbook_.pdf" class="blog-card__link">
                                    <span class="blog-card__link__front"><span class="icon-duble-arrow"></span></span>
                                    <span class="blog-card__link__back"><span class="icon-duble-arrow"></span>Read More</span>
                                </a><!-- /.blog-card__link -->
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.item -->
                    
                    <div class="item">
                        <div class="blog-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <a href="https://www.afro.who.int/sites/default/files/2021-03/AFRO_PHEOC-Legal-Framework-Guide_.pdf" class="blog-card__image">
                                <img src="assets/images/blog/legal.png" alt="Legal Framework">
                                <div class="blog-card__date"><span>2021</span>
                                    </div><!-- /.blog-card__date -->
                            </a><!-- /.blog-card__image -->
                            <div class="blog-card__content" style="background-image: url('assets/images/blog/blog-bg-1-1.png');">
                                <h3 class="blog-card__title"><a href="https://www.afro.who.int/sites/default/files/2021-03/AFRO_PHEOC-Legal-Framework-Guide_.pdf">PHEOC Legal Framework Guide: A Guide for the Development of a Legal Framework...</a></h3><!-- /.blog-card__title -->
                                <a href="https://www.afro.who.int/sites/default/files/2021-03/AFRO_PHEOC-Legal-Framework-Guide_.pdf" class="blog-card__link">
                                    <span class="blog-card__link__front"><span class="icon-duble-arrow"></span></span>
                                    <span class="blog-card__link__back"><span class="icon-duble-arrow"></span>Read More</span>
                                </a><!-- /.blog-card__link -->
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="blog-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='400ms'>
                            <a href="https://www.who.int/publications/i/item/framework-for-a-public-health-emergency-operations-centre" class="blog-card__image">
                                <img src="assets/images/blog/framework.jpg" alt="Framework for PHEOC">
                                <div class="blog-card__date"><span>2015</span>
                                    </div><!-- /.blog-card__date -->
                            </a><!-- /.blog-card__image -->
                            <div class="blog-card__content" style="background-image: url('assets/images/blog/blog-bg-1-1.png');">
                                <h3 class="blog-card__title"><a href="https://www.who.int/publications/i/item/framework-for-a-public-health-emergency-operations-centre">Framework for a Public Health Emergency Operations Centre</a></h3><!-- /.blog-card__title -->
                                <a href="https://www.who.int/publications/i/item/framework-for-a-public-health-emergency-operations-centre" class="blog-card__link">
                                    <span class="blog-card__link__front"><span class="icon-duble-arrow"></span></span>
                                    <span class="blog-card__link__back"><span class="icon-duble-arrow"></span>Read More</span>
                                </a><!-- /.blog-card__link -->
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="blog-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                            <a href="https://www.who.int/publications/i/item/handbook-for-developing-a-public-health-emergency-operations-centre-part-a" class="blog-card__image">
                                <img src="assets/images/blog/policies.png" alt=" Handbook ">
                                <div class="blog-card__date"><span>2018</span>
                                    </div><!-- /.blog-card__date -->
                            </a><!-- /.blog-card__image -->
                            <div class="blog-card__content" style="background-image: url('assets/images/blog/blog-bg-1-1.png');">
                                <h3 class="blog-card__title"><a href="https://www.who.int/publications/i/item/handbook-for-developing-a-public-health-emergency-operations-centre-part-a"> Handbook for developing a public health emergency operations centre: part A</a></h3><!-- /.blog-card__title -->
                                <a href="https://www.who.int/publications/i/item/handbook-for-developing-a-public-health-emergency-operations-centre-part-a" class="blog-card__link">
                                    <span class="blog-card__link__front"><span class="icon-duble-arrow"></span></span>
                                    <span class="blog-card__link__back"><span class="icon-duble-arrow"></span>Read More</span>
                                </a><!-- /.blog-card__link -->
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.item -->
                    <div class="item">
                        <div class="blog-card wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <a href="https://www.who.int/publications/i/item/handbook-for-developing-a-public-health-emergency-operations-centre-part-c" class="blog-card__image">
                                <img src="assets/images/blog/exercice.png" alt="exercice">
                                <div class="blog-card__date"><span>2018</span>
                                    </div><!-- /.blog-card__date -->
                            </a><!-- /.blog-card__image -->
                            <div class="blog-card__content" style="background-image: url('assets/images/blog/blog-bg-1-1.png');">
                                <h3 class="blog-card__title"><a href="https://www.who.int/publications/i/item/handbook-for-developing-a-public-health-emergency-operations-centre-part-c">Handbook for developing a public health emergency operations centre: part C</a></h3><!-- /.blog-card__title -->
                                <a href="https://www.who.int/publications/i/item/handbook-for-developing-a-public-health-emergency-operations-centre-part-c" class="blog-card__link">
                                    <span class="blog-card__link__front"><span class="icon-duble-arrow"></span></span>
                                    <span class="blog-card__link__back"><span class="icon-duble-arrow"></span>Read More</span>
                                </a><!-- /.blog-card__link -->
                            </div><!-- /.blog-card__content -->
                        </div><!-- /.blog-card -->
                    </div><!-- /.item -->
                   
                </div><!-- /.blog-one__carousel -->
            </div><!-- /.container -->
        </div><!-- /.blog-one section-space -->
        

       
        <div th:replace="frontend-footer"></div>
    </div><!-- /.page-wrapper -->

    <div th:replace="frontend-mobile-nav"></div>
    <div th:replace="frontend-search-popup"></div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    <div th:replace="frontend-sidebar"></div>
	<script th:src="@{/assets/vendors/jquery/jquery-3.7.0.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
	<script th:src="@{/assets/vendors/jarallax/jarallax.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ui/jquery-ui.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-appear/jquery.appear.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-validate/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/vendors/nouislider/nouislider.min.js}"></script>
	<script th:src="@{/assets/vendors/tiny-slider/tiny-slider.js}"></script>
	<script th:src="@{/assets/vendors/wnumb/wNumb.min.js}"></script>
	<script th:src="@{/assets/vendors/swiper/js/swiper-bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/owl-carousel/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/vendors/wow/wow.js}"></script>
	<script th:src="@{/assets/vendors/imagesloaded/imagesloaded.min.js}"></script>
	<script th:src="@{/assets/vendors/isotope/isotope.js}"></script>
	<script th:src="@{/assets/vendors/countdown/countdown.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circleType/jquery.circleType.js}"></script>
	<script th:src="@{/assets/vendors/jquery-lettering/jquery.lettering.min.js}"></script>
	<!-- template js -->
	<script th:src="@{/assets/js/cleenhearts.js}"></script>
	
</body>
</html>
