<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>Reset Password | Africa PHEOC-Net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Sign In" name="Connect to Africa PHEOC-Net" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="0">

    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    
</head>

    <body class="bg-white">

        <div class="auth-page d-flex align-items-center min-vh-100">
            <div class="container-fluid p-0">
                <div class="row g-0">
                     <div class="col-xxl-3 col-lg-4 col-md-5">
			                <div class="d-flex flex-column h-100 py-5 px-4">
			                    <div class="text-center text-muted mb-2">
			                        <div class="pb-3">
			                            <a href="/login">
			                                <span class="logo-lg">
			                                    <img src="images/logo-sm.svg" alt="" height="24">
			                                    <span class="logo-txt">AFR PHEOC-NET</span>
			                                </span>
			                            </a>
			                            <p class="text-muted font-size-15 w-75 mx-auto mt-3 mb-0">PHEOCs save lives...</p>
			                        </div>
			                    </div>
			
			                    <div class="my-auto">
			                        <div class="p-3 text-center">
			                            <img src="images/pheoc-net.png" alt="" class="img-fluid">
			                        </div>
			                    </div>
			
			                    <div class="mt-4 mt-md-5 text-center">
			                        <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Africa PHEOC-NET</p>
			                    </div>
			                </div>
			            </div>
                    <!-- end col -->
    
                    <div class="col-xxl-9 col-lg-8 col-md-7">
                        <div class="auth-bg bg-light py-md-5 p-4 d-flex">
                            <div class="bg-overlay-gradient"></div>
                            <!-- end bubble effect -->
                            <div class="row justify-content-center g-0 align-items-center w-100">
                                <div class="col-xl-4 col-lg-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="px-3 py-3">
                                                <div class="text-center">
                                                    <h5 class="mb-0">Reset Password</h5>
                                                </div>
                                               <form class="mt-4 pt-2" id="resetPasswordForm">
                                               		<div id="alertBox" class="alert alert-warning alert-top-border alert-dismissible fade show" role="alert" style="display: none;">
													    <i class="uil uil-exclamation-triangle font-size-16 text-warning me-2"></i>
													   <span class="alert-message">A simple border warning alert</span>
													    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
													</div>
												    <div class="form-floating form-floating-custom mb-3">
												        <input type="password" class="form-control" id="input-newpassword" name = "password" placeholder="Password">
												        <label for="input-newpassword">New Password</label>
												        <div class="form-floating-icon">
												            <i class="uil uil-padlock"></i>
												        </div>
												    </div>
												
												    <div class="form-floating form-floating-custom mb-3">
												        <input type="password" class="form-control" id="input-confirmpassword" placeholder="Password">
												        <label for="input-confirmpassword">Confirm Password</label>
												        <div class="form-floating-icon">
												            <i class="uil uil-check-circle"></i>
												        </div>
												    </div>
												
												    <div class="mt-4">
												        <button class="btn btn-primary w-100" id="resetPasswordBtn" >Reset</button>
												    </div>
												</form><!-- end form -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container fluid -->
        </div>
        <!-- end authentication section -->

        <!-- JAVASCRIPT -->
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenujs/metismenujs.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        
   <script>
    // Function to reset password
    document.getElementById("resetPasswordForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent default form submission

        var password = document.getElementById("input-newpassword").value;
        var confirmPassword = document.getElementById("input-confirmpassword").value;

        // Check if passwords match
        if (password !== confirmPassword) {
            showAlert("warning", "Passwords do not match");
            return;
        }

        // Check password strength
        if (!isPasswordStrong(password)) {
            showAlert("error", "Password must be at least 8 characters long and contain at least one capital letter");
            return;
        }

        // Get the token from the URL
        var urlParams = new URLSearchParams(window.location.search);
        var token = urlParams.get('token');

        // CSRF token retrieval
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');

        // AJAX request to reset password
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/users/reset-password?token=" + token, true); 
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader("X-CSRF-TOKEN", csrfToken); 
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    // Password reset successful
                    showAlert("success", "Password reset successful!");
                    clearPasswordInputs(); // Clear password inputs
                } else {
                    // Password reset failed
                    showAlert("warning", "Password reset failed. Please try again later.");
                }
            }
        };
        // Send token and password in JSON format
        xhr.send(JSON.stringify({ token: token, password: password }));
    });

    // Function to validate password strength
    function isPasswordStrong(password) {
        return password.length >= 8 && /[A-Z]/.test(password);
    }

    // Function to clear password input fields
    function clearPasswordInputs() {
        document.getElementById("input-newpassword").value = "";
        document.getElementById("input-confirmpassword").value = "";
    }

    function showAlert(type, message) {
        var alertBox = $('#alertBox');
        var alertMessage = alertBox.find('.alert-message');
        var alertIcon = alertBox.find('.uil');

        alertMessage.text(message);

        if (type === 'success') {
            alertBox.removeClass('alert-warning').addClass('alert-success');
            alertIcon.removeClass('uil-exclamation-triangle').addClass('uil-check-circle');
        } else {
            alertBox.removeClass('alert-success').addClass('alert-warning');
            alertIcon.removeClass('uil-check-circle').addClass('uil-exclamation-triangle');
        }

        alertBox.show();

        setTimeout(function() {
            alertBox.hide();
        }, 10000); 
    }
    
</script>
   
   

    </body>
</html>
