<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="frontend-header :: head"></th:block>
<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__image" style="background-image: url(assets/images/loader.png);"></div>
    </div>
    <!-- /.preloader -->
    <div class="page-wrapper">
        <div th:replace="frontend-topbar"></div>
        <header th:replace="frontend-header :: main-header"></header>
         <section class="events-two section-space-top" id="events">
            <div class="container">
                <div class="sec-title">

                    <h6 class="sec-title__tagline sec-title__tagline--center">Africa PHEOC-NET</h6><!-- /.sec-title__tagline -->

                    <h3 class="sec-title__title">Standard <span class="sec-title__title__inner">trainings</span></h3><!-- /.sec-title__title -->
                </div><!-- /.sec-title -->

                <div class="events-two__accordion cleenhearts-accordion" data-grp-name="cleenhearts-accordion">
                    <div class="accordion active">
                        <div class="accordion-title">
                            <div class="accordion-title__bg" style="background-image: url('assets/images/events/event-bg-2-1.jpg');"></div><!-- /.accordion-title__bg -->
                            <div class="events-two__content">
                                <div class="events-two__content__left">
                                    <div class="events-two__time">
                                        <i class="events-two__time__icon fa fa-clock"></i>
                                        <span class="events-two__time__text">self-placed</span>
                                    </div><!-- /.events-two__time -->
                                    <h3 class="events-two__title">The Public Health Emergency Operations Centre (PHEOC)</h3><!-- /.events-two__title -->
                                </div><!-- /.events-two__content__left -->
                                <div class="events-two__right">
                                    <ul class="events-two__meta">
                                        <li>
                                            <h5><span class="icon-location"></span> Vanue</h5>
                                            <address>Online</address>
                                        </li>
                                    </ul><!-- /.events-two__meta -->
                                </div><!-- /.events-two__right -->
                            </div><!-- /.events-two__content -->
                            <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                        </div><!-- /.accordian-title -->
                        <div class="accordion-content">
                            <div class="inner">
                                <div class="event-card-four">
                                    <a href="event-details-right.html" class="event-card-four__image">
                                        <img src="assets/images/events/seychelles-tot.jpg" alt="PHEOC">
                                     
                                    </a><!-- /.event-card-four__image -->
                                    <div class="event-card-four__content">
                                        <div class="event-card-four__time">
                                            <i class="event-card-four__time__icon fa fa-clock"></i>self-placed
                                        </div><!-- /.event-card-four__time -->
                                        <h4 class="event-card-four__title"><a href="https://openwho.org/courses/PHEOC-EN">The Public Health Emergency Operations Centre (PHEOC)</a></h4><!-- /.event-card-four__title -->
                                        <div class="event-card-four__text">This online course is designed as a companion to WHO’s Framework for a Public Health Emergency Operations Centre and is aimed at health emergency preparedness and response professionals, policy makers and partners seeking to implement and sustain Public Health Emergency Operations Centres.</div><!-- /.event-card-four__text -->
                                        <ul class="event-card-four__meta">
                                            <li>
                                                <h5 class="event-card-four__meta__title">Organizer</h5>
                                                OpenWHO
                                            </li>
                                            <li>
                                                <h5 class="event-card-four__meta__title"><span class="icon-location"></span> Vanue</h5>
                                                Online
                                            </li>
                                        </ul><!-- /.event-card-four__meta -->
                                    </div><!-- /.event-card-four__content -->
                                </div><!-- /.event-card-four -->
                                <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                 	<div class="accordion">
                        <div class="accordion-title">
                            <div class="accordion-title__bg" style="background-image: url('assets/images/events/event-bg-2-1.jpg');"></div><!-- /.accordion-title__bg -->
                            <div class="events-two__content">
                                <div class="events-two__content__left">
                                    <div class="events-two__time">
                                        <i class="events-two__time__icon fa fa-clock"></i>
                                        <span class="events-two__time__text">self-placed</span>
                                    </div><!-- /.events-two__time -->
                                    <h3 class="events-two__title">Incident Management System (Tier 1)</h3><!-- /.events-two__title -->
                                </div><!-- /.events-two__content__left -->
                                <div class="events-two__right">
                                    <ul class="events-two__meta">
                                        <li>
                                            <h5><span class="icon-location"></span> Vanue</h5>
                                            <address>Online</address>
                                        </li>
                                    </ul><!-- /.events-two__meta -->
                                </div><!-- /.events-two__right -->
                            </div><!-- /.events-two__content -->
                            <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                        </div><!-- /.accordian-title -->
                        <div class="accordion-content">
                            <div class="inner">
                                <div class="event-card-four">
                                    <a href="event-details-right.html" class="event-card-four__image">
                                        <img src="assets/images/events/seychelles-tot.jpg" alt="PHEOC">
                                     
                                    </a><!-- /.event-card-four__image -->
                                    <div class="event-card-four__content">
                                        <div class="event-card-four__time">
                                            <i class="event-card-four__time__icon fa fa-clock"></i>self-placed
                                        </div><!-- /.event-card-four__time -->
                                        <h4 class="event-card-four__title"><a href="https://openwho.org/courses/incident-management-system">Incident Management System (Tier 1)</a></h4><!-- /.event-card-four__title -->
                                        <div class="event-card-four__text">To enhance the WHO's Health Emergencies Programme (WHE) response capability, WHE proposed the development of a series of training packages to build staff competencies, skills and knowledge, to enhance deployment and response capability. </div><!-- /.event-card-four__text -->
                                        <ul class="event-card-four__meta">
                                            <li>
                                                <h5 class="event-card-four__meta__title">Organizer</h5>
                                                OpenWHO
                                            </li>
                                            <li>
                                                <h5 class="event-card-four__meta__title"><span class="icon-location"></span> Vanue</h5>
                                                Online
                                            </li>
                                        </ul><!-- /.event-card-four__meta -->
                                    </div><!-- /.event-card-four__content -->
                                </div><!-- /.event-card-four -->
                                <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                    <div class="accordion">
                        <div class="accordion-title">
                            <div class="accordion-title__bg" style="background-image: url('assets/images/events/event-bg-2-1.jpg');"></div><!-- /.accordion-title__bg -->
                            <div class="events-two__content">
                                <div class="events-two__content__left">
                                    <div class="events-two__time">
                                        <i class="events-two__time__icon fa fa-clock"></i>
                                        <span class="events-two__time__text">self-placed</span>
                                    </div><!-- /.events-two__time -->
                                    <h3 class="events-two__title">IMS Tier 2: Working in WHO's Incident Management System</h3><!-- /.events-two__title -->
                                </div><!-- /.events-two__content__left -->
                                <div class="events-two__right">
                                    <ul class="events-two__meta">
                                        <li>
                                            <h5><span class="icon-location"></span> Vanue</h5>
                                            <address>Online</address>
                                        </li>
                                    </ul><!-- /.events-two__meta -->
                                </div><!-- /.events-two__right -->
                            </div><!-- /.events-two__content -->
                            <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                        </div><!-- /.accordian-title -->
                        <div class="accordion-content">
                            <div class="inner">
                                <div class="event-card-four">
                                    <a href="event-details-right.html" class="event-card-four__image">
                                        <img src="assets/images/events/seychelles-tot.jpg" alt="PHEOC">
                                     
                                    </a><!-- /.event-card-four__image -->
                                    <div class="event-card-four__content">
                                        <div class="event-card-four__time">
                                            <i class="event-card-four__time__icon fa fa-clock"></i>self-placed
                                        </div><!-- /.event-card-four__time -->
                                        <h4 class="event-card-four__title"><a href="https://openwho.org/courses/incident-management-system-tier2">IMS Tier 2: Working in WHO's Incident Management System</a></h4><!-- /.event-card-four__title -->
                                        <div class="event-card-four__text">Every individual working in emergencies for WHO must be familiar with the Incident Management System (IMS). This course builds on the introductory IMS course to provide a deeper understanding of the system that WHO uses to organize and manage its response. It should be completed by all current or potential members of IMS functional teams, including non-WHO staff who will deploy. </div><!-- /.event-card-four__text -->
                                        <ul class="event-card-four__meta">
                                            <li>
                                                <h5 class="event-card-four__meta__title">Organizer</h5>
                                                OpenWHO
                                            </li>
                                            <li>
                                                <h5 class="event-card-four__meta__title"><span class="icon-location"></span> Vanue</h5>
                                                Online
                                            </li>
                                        </ul><!-- /.event-card-four__meta -->
                                    </div><!-- /.event-card-four__content -->
                                </div><!-- /.event-card-four -->
                                <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                    <div class="accordion">
                        <div class="accordion-title">
                            <div class="accordion-title__bg" style="background-image: url('assets/images/events/event-bg-2-1.jpg');"></div><!-- /.accordion-title__bg -->
                            <div class="events-two__content">
                                <div class="events-two__content__left">
                                    <div class="events-two__time">
                                        <i class="events-two__time__icon fa fa-clock"></i>
                                        <span class="events-two__time__text">self-placed</span>
                                    </div><!-- /.events-two__time -->
                                    <h3 class="events-two__title"> Simulation Exercise Management: Introduction</h3><!-- /.events-two__title -->
                                </div><!-- /.events-two__content__left -->
                                <div class="events-two__right">
                                    <ul class="events-two__meta">
                                        <li>
                                            <h5><span class="icon-location"></span> Vanue</h5>
                                            <address>Online</address>
                                        </li>
                                    </ul><!-- /.events-two__meta -->
                                </div><!-- /.events-two__right -->
                            </div><!-- /.events-two__content -->
                            <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                        </div><!-- /.accordian-title -->
                        <div class="accordion-content">
                            <div class="inner">
                                <div class="event-card-four">
                                    <a href="event-details-right.html" class="event-card-four__image">
                                        <img src="assets/images/events/seychelles-tot.jpg" alt="PHEOC">
                                     
                                    </a><!-- /.event-card-four__image -->
                                    <div class="event-card-four__content">
                                        <div class="event-card-four__time">
                                            <i class="event-card-four__time__icon fa fa-clock"></i>self-placed
                                        </div><!-- /.event-card-four__time -->
                                        <h4 class="event-card-four__title"><a href="https://openwho.org/courses/simex"> Simulation Exercise Management: Introduction</a></h4><!-- /.event-card-four__title -->
                                        <div class="event-card-four__text">This course is an introduction to simulation exercises and their value as part of wider emergency preparedness to raise awareness among a non-technical audience. The goal of this course is to support the development and management of an effective fit-for-purpose exercise programme, by providing consistent practical guidance and tools on exercise design and implementation. </div><!-- /.event-card-four__text -->
                                        <ul class="event-card-four__meta">
                                            <li>
                                                <h5 class="event-card-four__meta__title">Organizer</h5>
                                                OpenWHO
                                            </li>
                                            <li>
                                                <h5 class="event-card-four__meta__title"><span class="icon-location"></span> Vanue</h5>
                                                Online
                                            </li>
                                        </ul><!-- /.event-card-four__meta -->
                                    </div><!-- /.event-card-four__content -->
                                </div><!-- /.event-card-four -->
                                <span class="accordion-title__icon"></span><!-- /.accordion-title__icon -->
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                   
                </div><!-- /.events-two__accordion cleenhearts-accordion -->
            </div><!-- /.container -->
        </section><!-- /.events-two section-space-top -->

        <div th:replace="frontend-footer"></div>
    </div><!-- /.page-wrapper -->

    <div th:replace="frontend-mobile-nav"></div>
    <div th:replace="frontend-search-popup"></div>
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__text">back top</span>
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
    </a>

    <div th:replace="frontend-sidebar"></div>
	<script th:src="@{/assets/vendors/jquery/jquery-3.7.0.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
	<script th:src="@{/assets/vendors/jarallax/jarallax.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ui/jquery-ui.js}"></script>
	<script th:src="@{/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-appear/jquery.appear.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-validate/jquery.validate.min.js}"></script>
	<script th:src="@{/assets/vendors/nouislider/nouislider.min.js}"></script>
	<script th:src="@{/assets/vendors/tiny-slider/tiny-slider.js}"></script>
	<script th:src="@{/assets/vendors/wnumb/wNumb.min.js}"></script>
	<script th:src="@{/assets/vendors/swiper/js/swiper-bundle.min.js}"></script>
	<script th:src="@{/assets/vendors/owl-carousel/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/vendors/wow/wow.js}"></script>
	<script th:src="@{/assets/vendors/imagesloaded/imagesloaded.min.js}"></script>
	<script th:src="@{/assets/vendors/isotope/isotope.js}"></script>
	<script th:src="@{/assets/vendors/countdown/countdown.min.js}"></script>
	<script th:src="@{/assets/vendors/jquery-circleType/jquery.circleType.js}"></script>
	<script th:src="@{/assets/vendors/jquery-lettering/jquery.lettering.min.js}"></script>
	<!-- template js -->
	<script th:src="@{/assets/js/cleenhearts.js}"></script>
	
</body>
</html>
